<h1>Welcome, <%= current_user.username %></h1>
<h3>Current Tweets</h3>

<ul>
  <% all_tweets.each do |tweet| %>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
  <% end %>
</ul>

<a href="/logout">Log Out</a>
